a.back-to-top {
    display: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    z-index: 999;
    right: 40px;
    bottom: 31px;
    background-color: rgba(0, 0, 0, 0.7);
    background-position: center 43%;
    line-height: 65px;
    color: #fff;
}
a.back-to-top i {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.control-labelz-2 {
    color: #666;
}

.form-horizontal .form-group {
    margin-right: 0px; 
    margin-left: 0px; 
}

.parttt-1 {
    float: left;
    width: 20%;
}

.parttt-2 {
    float: left;
    width: 30%;
}

.parttt-3 {
    float: left;
    width: 25%;
}

.parttt-4 {
    float: left;
    width: 25%;
}


/*.form-control {
    color: #ac96a0;
}*/

.edit-btn { 
    float: left;
    background-color: #f06e4b;
    padding: 7px;
    min-width: 80px;
    margin-right: 10px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
}

/*.services .f2 {
    background: url(../images/c2.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 290px;
    overflow: hidden;
    border: 1px solid #CAC6C6;

}*/
a.faqs {
    float: right;
    /* margin-right: 1%; */
    position: absolute;
    /*top: 0;*/
    right: 26px;
}
span.required {
    color: red;
}

.errorMessage
{
    color: red;
}
.tdd {
    border: 1px solid #a9a4a4;
}
/*
-------------------------
Product Details
-------------------------
*/
.product_thumb{
    width:20%;
    float:left;
    padding-right:25px;
}
.product_thumb ul{
    list-style:none;
    margin:0px;
    padding:0px;
}
.product_thumb ul li{
    list-style:none;
    margin:0px;
    padding:0px;
    margin-bottom:35px;
    clear:both;
}
.product_thumb ul li:hover img{
    border:solid 1px #f47721;
    transition:all 0.3s ease-in-out;
}
.product_thumb ul li img{
    border:solid 1px #fff;
}
.product_big_image{
    float:left;
    width:80%;
    text-align:center;
    position:relative;
}
.product_big_image img{
    left:0px;
    right:0px;
}

.mobile_slider{
    display:none;
}
.laksyah_slider img {
    max-width: 100%;
    height: auto;
}
.laksyah_slider {
    border: solid 14px #d5d5d7;
}
.laksyah_slider img {
    max-width: 100%;
    height: auto;
}

a.cart-b, button.cart-b {
    background-color: #c47c65;
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 9px;
    margin-top: 5%;
    color: #fff;
    font-weight: 400;
    border-radius: 0px;
    display: block;
    font-size: 13px;
    /*max-width: 157px;*/
    margin-bottom: 15px;
    width: 100%;
    text-transform: uppercase;
    border-radius: 4px;
    outline: none !important;
    box-shadow: none !important;
    border: none;
}

button.cart-b:focus { background-color: #c47c65 !important; }

ul.catmenu {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
ul.catmenu > li > a{
    font-size:14px;
    font-weight:bold;
    /*font-family:Merriweather, serif;*/
    color:#414042;
    text-decoration:none;
    display:block;
    text-align: left;
}
ul.catmenu > li > a i{
    font-size:16px;
}
ul.catmenu>li{
    list-style:none;
    margin:0px;
    padding:0px;
    margin-bottom:20px;
}
ul.catmenu > li li{
    font-size:13px;
    line-height:25px;
}
ul.catmenu > li ul{
    list-style:none;
    margin:0px;
    padding:0px;
    display:none;
    padding-left: 21px;
}
ul.catmenu > li.open ul{
    display:block;
}
.cat_nav{
    margin-bottom:40px;
}

.ul-style {
    background: rgb(244, 118, 32);
    list-style: none;
    margin: 0px;
    padding: 0px;
    z-index: 10000;
    position: absolute;
    display: none;
    top: 40px;
    width: 100%;
}
.li-style {
    background-color: rgba(255,255,255,0.1);
    list-style: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-bottom: 1px solid rgba(245, 245, 245, 0.22);
    padding: 10px 0px 10px 10px;
    cursor: pointer;
    color: #fff;
    color: #0A0909;
}
ul.catmenu {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
ul.catmenu > li > a{
    font-size:14px;
    font-weight:bold;
    /*font-family:Merriweather, serif;*/
    color:#414042;
    text-decoration:none;
    display:block;
}
ul.catmenu > li > a i{
    font-size:16px;
}
ul.catmenu>li{
    list-style:none;
    margin:0px;
    padding:0px;
    margin-bottom:20px;
}
ul.catmenu > li li{
    font-size:13px;
    line-height:25px;
}
ul.catmenu > li ul{
    list-style:none;
    margin:0px;
    padding:0px;
    display:none;
}
ul.catmenu > li.open ul{
    display:block;
}
.cat_nav{
    margin-bottom:40px;
}

@media (max-width: 500px){
    .product_list > .row .col-xs-6{
        float:none;
        width:100%;
        max-width:322px;
        margin:auto;
    }
    .product_thumb{
        display:none;

    }
    .product_details_sidebar{
        margin:0px;
    }
    .mobile_slider{
        display:block;
        margin-bottom:30px;
    }
    .product_thumb{
        display:none;

    }
    .product_big_image{
        display:none;
    }
}
